<div class="config-row d-flex flex-col py-12 justify-between">
  <div class="d-flex items-center mb-12">
    <label class="custom-checkbox m-6">
      <input
        type="checkbox"
        id="toggle-assets-allowed"
        [checked]="config.isActive"
        (change)="onToggleActive($event)"
      />
      <span class="checkmark"></span>
    </label>

    <span
      [ngClass]="{ deactivated: !config.isActive }"
      class="rule-label"
      >Only allow trades on the following assets</span
    >
  </div>

  <div
    class="currency-dropdown regularText mb-6"
    (click)="$event.stopPropagation()"
  >
    <input
      type="text"
      class="dropdown-input"
      placeholder="Add Symbols"
      [value]="searchTerm"
      [disabled]="!config.isActive"
      (input)="onSearchInput($event)"
      (focus)="onSearchFocus()"
      (blur)="onSearchBlur()"
    />

    <div class="dropdown-menu bg-bg-black inputText" *ngIf="dropdownOpen">
      @for (symbol of getFilteredSymbols(); track $index) {
      <div
        class="dropdown-item color-light-gray"
        (click)="selectInstrument(symbol)"
        [class.selected]="symbol === selectedInstrument"
      >
        {{ symbol }}
      </div>
      }
    </div>
  </div>
  <div class="symbols-container d-flex justify-start items-start">
    @for (symbol of symbols; track $index) {
    <button
      (click)="removeSymbol(symbol)"
      [disabled]="!config.isActive"
      class="d-flex px-6 py-4 bg-secondary-500 color-secondary-900 items-center inputText"
    >
      <span>{{ symbol }}</span>
      <span class="delete-span ml-6">X</span>
    </button>
    }
  </div>
</div>
