<div class="main-titles color-background d-flex flex-col mb-50">
  <h1 class="titleText mb-32">The Overview</h1>
  <h3 class="regularText">
    Visualize the TradeSwitch metrics in the last 30 days.
  </h3>
</div>

<div class="d-flex stats-card-container mb-24">
  <app-stat-card
    class="stat-card"
    title="Users"
    [value]="usersData.length"
  ></app-stat-card>
  <app-stat-card
    class="stat-card"
    title="New users"
    [value]="`${newUsers}`"
  ></app-stat-card>
  <app-stat-card
    class="stat-card"
    title="Revenue Generated"
    [value]="subscriptionsData?.revenue"
  ></app-stat-card>
</div>
<div class="middle-container justify-between d-flex mb-24">
  <app-trade-switch-table [users]="usersData"></app-trade-switch-table>
  <div class="top-10 d-flex flex-col p-30">
    <div class="mb-20 d-flex justify-between items-center">
      <h2 class="subtitle color-background">Top 10 performing users</h2>
      <a
        routerLink="/users"
        class="view-users-btn p-10 bg-primary-400 color-bg-black inputText"
      >
        View all users
      </a>
    </div>
    @for (user of topUsers; track $index) {
    <app-top-list [user]="user"></app-top-list>
    }
  </div>
</div>
<app-loading-popup [visible]="loading"></app-loading-popup>
