.config-row {
  width: 100%;
  border-bottom: 0.5px solid
    var(
      --miscellaneous-alert-menu-action-sheet-separators,
      rgba(128, 128, 128, 0.55)
    );
}

.top-container {
  flex: auto;
}

.user-info {
  flex: 1;
}
p {
  flex: 1;
}

.deactivated {
  color: #b3b3b3 !important;
}
