.config-row {
  width: 100%;
  border-bottom: 0.5px solid
    var(
      --miscellaneous-alert-menu-action-sheet-separators,
      rgba(128, 128, 128, 0.55)
    );
}

.top-container {
  flex: auto;
  gap: 12px;
}

.user-info {
  flex: 1;
  gap: 0px;
  min-width: 0;
}

.user-info p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-container > p {
  flex: 0 0 auto;
  margin: 0;
  text-align: right;
  min-width: 70px;
  font-size: 12px;
}

.deactivated {
  color: #b3b3b3 !important;
}
