<div class="phone-input-container">
  <label class="input-label" *ngIf="label">{{ label }}</label>
  <div class="phone-input-wrapper">
    <div class="country-selector" (click)="toggleCountryDropdown()">
      @if (loading) {
        <div class="loading-spinner"></div>
      } @else {
        <img
          [src]="selectedCountry.flag"
          [alt]="selectedCountry.code + ' Flag'"
          class="currency-flag"
        />
      }
      <span class="country-code">{{ selectedCountry.dialCode }}</span>
      <span class="material-symbols-outlined dropdown-arrow" style="font-size: 18px;">
        {{ showCountryDropdown ? 'arrow_drop_up' : 'arrow_drop_down' }}
      </span>

      <div class="country-dropdown" [class.signup-dropdown]="isSignupPage" *ngIf="showCountryDropdown">
        <div class="search-container">
          <input
            type="text"
            placeholder="Search countries..."
            class="country-search"
            [value]="searchTerm"
            (input)="onSearchInput($event)"
            (click)="$event.stopPropagation()"
          />
        </div>
        <div class="countries-list">
          <div
            class="country-option"
            *ngFor="let country of filteredCountries"
            (click)="selectCountry(country, $event)"
          >
            <img
              [src]="country.flag"
              [alt]="country.code + ' Flag'"
              class="currency-flag"
            />
            <span class="country-code">{{ country.dialCode }}</span>
            <span class="country-name">{{ country.code }}</span>
          </div>
        </div>
      </div>
    </div>

    <input
      type="tel"
      [placeholder]="placeholder"
      [value]="phoneNumber"
      [disabled]="disabled"
      [required]="required"
      (input)="onPhoneInput($event)"
      (blur)="onBlur()"
      class="phone-number-input"
    />
  </div>
</div>
