* {
  display: flex;
  width: 406px;
  flex-direction: column;
  align-items: center;
  gap: 29px;
  color: #eaf2f8;
  margin: auto;
  font-family: "SF Pro Display";
  gap: 20px;
}

.progress-bar {
  width: 50%;
  height: 4px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  overflow: hidden;
}

.progress-fill {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 2px;
  transition: width 0.3s ease;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
  flex-direction: row;
}

.login-options {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

.signup-link {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 14px;
  gap: 0px;
  justify-content: space-around;
  align-items: start;
}

.signup-link a {
  color: #9bf526;
  text-decoration: none;
}

.remember-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  font-size: 14px;
}

.remember-me-checkbox {
  margin-right: 0px;
  background-color: transparent;
  color: transparent;
}

.login-title {
  align-self: stretch;
  color: var(--White, #eaf2f8);
  text-align: center;

  /* Title 2 */

  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 22.264px; /* 61.844% */
  letter-spacing: -0.435px;
  margin-bottom: 5px;
}

.social-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  margin-left: 0px;
}

.social-button {
  flex: 1;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 12px 16px;
  color: white;
  font-family: "SF Pro Display";
  font-size: 16px;
  text-align: left;
  font-style: normal;
  font-weight: 10;
  line-height: 14px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

.login-methods-separator {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-family: "SF Pro Display";
  margin-top: 24px;
  gap: 8px;
  color: #eaf2f8;
  font-size: 16px;
}

.separator-line {
  flex: 1;
  height: 1px;
  background: #8e8e93;
}

.social-buttons-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 16px;
}

.login-button {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  color: var(--Black, #222325);

  border-radius: 6px;
  background: var(--Primary-400, #9bf526);
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
  }
}
