<form [formGroup]="addAccountForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email</label>
    <input
      id="email"
      type="email"
      formControlName="email"
      placeholder="john@email.com"
    />
    <div
      *ngIf="
        addAccountForm.get('email')?.invalid &&
        addAccountForm.get('email')?.touched
      "
    >
      <small>Email requerido y válido.</small>
    </div>
  </div>

  <div>
    <label for="password">Password</label>
    <input
      id="password"
      type="password"
      formControlName="password"
      placeholder="********"
    />
    <div
      *ngIf="
        addAccountForm.get('password')?.invalid &&
        addAccountForm.get('password')?.touched
      "
    >
      <small>Password requerido.</small>
    </div>
  </div>

  <div>
    <label for="server">Server</label>
    <input
      id="server"
      type="text"
      formControlName="server"
      placeholder="SERVER"
    />
    <div
      *ngIf="
        addAccountForm.get('server')?.invalid &&
        addAccountForm.get('server')?.touched
      "
    >
      <small>Server requerido.</small>
    </div>
    <small>Nombre del broker server, también usado para login web.</small>
  </div>

  <button type="submit">Login</button>
</form>
