<div class="config-row d-flex flex-col py-12 justify-between">
  <div class="d-flex items-center mb-8">
    <label class="custom-checkbox m-6">
      <input
        type="checkbox"
        id="toggle-max-daily-trades"
        [checked]="config.isActive"
        (change)="onToggleActive($event)"
      />
      <span class="checkmark"></span>
    </label>

    <label
      for="toggle-max-daily-trades"
      [ngClass]="{ deactivated: !config.isActive }"
    >
      Limit my Risk per Trade:
      <span class="ml-2 mr-26">${{ initialRiskTrade }}</span>
    </label>
    <p>
      {{ "(" }}Actual Balance: <em>{{ config.balance | currency }}</em
      >{{ ")" }}
    </p>
  </div>
  <div class="risk-per-trade-container flex-row d-flex items-center inputText">
    <div class="input-with-suffix">
      <input
        type="number"
        min="1"
        id="risk-percentage-input"
        [value]="config.maxRiskPercentage"
        [disabled]="!config.isActive"
        (change)="onChangePercentage($event)"
        class="custom-number-input inputText d-flex items-center justify-between py-8 px-4 color-light-gray"
      />
      <span class="suffix">%</span>
    </div>
    <div class="input-with-prefix">
      <span class="prefix">$</span>
      <input
        type="number"
        min="1"
        id="risk-price-input"
        [value]="config.maxRiskPerTrade"
        [disabled]="!config.isActive"
        (change)="onChangeAmount($event)"
        class="inputText d-flex items-center justify-between py-8 px-4 color-light-gray"
      />
    </div>
  </div>
</div>
