.config-row {
  width: 100%;
  border-bottom: 0.5px solid
    var(
      --miscellaneous-alert-menu-action-sheet-separators,
      rgba(128, 128, 128, 0.55)
    );
  label {
    line-height: 23px;
  }
}

.deactivated {
  color: #b3b3b3 !important;
}
