<div
  class="table-container color-background d-flex flex-col justify-between p-24"
>
  <div class="d-flex flex-col">
    <div class="table-scroll-container">
      <table class="regularText">
        <thead>
          <tr>
            <th class="regularText py-18">First Name</th>
            <th class="regularText py-18">Last Name</th>
            <th class="regularText py-18">Email</th>
            <th class="regularText py-18">Phone Number</th>
            <th class="regularText py-18">Sus. From</th>
            <th class="regularText py-18">% Strat. Followed</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (user of paginatedUsers; track $index) {
          <tr>
            <td class="smallText" style="width: 10.5rem">
              <p>
                {{ user.firstName }}
              </p>
            </td>
            <td class="smallText" style="width: 12.5rem">
              <p>
                {{ user.lastName }}
              </p>
            </td>

            <td class="smallText">
              <p>
                {{ user.email }}
              </p>
            </td>
            <td class="smallText">
              <p>
                {{ user.phoneNumber }}
              </p>
            </td>
            <td class="smallText">
              <p>
                {{ getUserDate(user.subscription_date) | date : "dd/MM/yyyy" }}
              </p>
            </td>
            <td>
              @if (user.strategy_followed !== undefined) {
              {{ user.strategy_followed }}%
              <div class="progress-container mt-6">
                <div class="progress-bar-bg">
                  <div
                    class="progress-bar-fill"
                    [style.width.%]="user.strategy_followed"
                  ></div>
                </div>
              </div>
              } @if (user.strategy_followed === undefined) {
              <span>No stats available</span>
              }
            </td>
            <td class="smallText">
              <span
                (click)="emitUser(user)"
                class="icon-info color-secondary-500"
                style="font-size: 1rem"
              ></span>
            </td>
          </tr>

          }
        </tbody>
      </table>
    </div>
  </div>
  <div
    class="pagination-controls d-flex justify-between items-center mt-10 regularText"
  >
    <div class="page-controls d-flex justify-between items-center">
      <div class="side-controls d-flex items-center">
        <button
          class="regularText"
          (click)="prevPage()"
          [disabled]="currentPage === 1"
        >
          &lt;
        </button>
        <button
          class="regularText"
          (click)="goToPage(1)"
          [disabled]="currentPage === 1"
        >
          &lt;&lt;
        </button>
      </div>

      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <div class="side-controls d-flex items-center">
        <button
          class="regularText"
          (click)="goToPage(totalPages)"
          [disabled]="currentPage === totalPages"
        >
          &gt;&gt;
        </button>
        <button
          class="regularText"
          (click)="nextPage()"
          [disabled]="currentPage === totalPages"
        >
          &gt;
        </button>
      </div>
    </div>
    <div class="d-flex items-center">
      <div class="d-flex justify-between items-center mt-10">
        <label for="page-input" class="regularText mr-10 pb-2"
          >Go to page</label
        >
        <input
          id="page-input"
          class="page-input p-8 smallText color-background"
          type="number"
          [min]="1"
          [max]="totalPages"
          [(ngModel)]="currentPage"
          (change)="goToPage(currentPage)"
          style="width: 4rem"
        />
      </div>

      <select
        class="color-secondary-300 smallText mt-10 ml-20"
        [(ngModel)]="itemsPerPage"
        (change)="goToPage(1)"
      >
        <option [value]="5">5 items</option>
        <option [value]="10">10 items</option>
        <option [value]="25">25 items</option>
      </select>
    </div>
  </div>
</div>
