@if(userName && !isBanned) {
<nav class="sidebar bg-neutral regularText" [class.minimized]="isSidebarMinimized">
  <div class="sidebar-toggle d-flex justify-end w-full" (click)="toggleSidebar()">
    <span class="material-symbols-outlined d-flex color-secondary-500 mb-14" style="font-size: 24px;">
      {{ isSidebarMinimized ? 'right_panel_open' : 'left_panel_open' }}
    </span>
  </div>
  
  @if (isSidebarMinimized) {
    <div class="logo-minimized mb-16 mt-4">
      <img src="assets/logo.png" alt="" />
    </div>
  }
  @if (!isSidebarMinimized) {
    <div class="logo mb-24">
      <img src="assets/logo.png" alt="" />
    </div>
    @if (userToken && !isAdmin) {
      <p class="token-id p-20 regularText">
        your plugin token is <b>{{ userToken }}</b>
      </p>
    }
  }

  <!-- Menú de navegación - siempre visible pero con texto condicional -->
  <ul class="menu">
    @if(!isAdmin) {
      <li class="px-16 py-4 menu-link">
        <a routerLink="/strategy" routerLinkActive="active">
          <span class="material-symbols-outlined color-secondary-500 mr-10" style="font-size: 24px;">content_paste_search</span>
          @if (!isSidebarMinimized) {
            <span>My Strategy</span>
          }
        </a>
      </li>
    <li class="px-16 py-4 menu-link">
      <a routerLink="/report" routerLinkActive="active">
        <span class="material-symbols-outlined color-secondary-500 mr-10" style="font-size: 24px;">bar_chart</span>
        @if (!isSidebarMinimized) {
          <span>My Reports</span>
        }
      </a>
    </li>
    <li class="px-16 py-4 menu-link">
      <a routerLink="/trading-accounts" routerLinkActive="active">
        <span class="material-symbols-outlined color-secondary-500 mr-10" style="font-size: 24px;">group_add</span>
        @if (!isSidebarMinimized) {
          <span>Trading Accounts</span>
        }
      </a>
    </li>

    } @if (isAdmin){
    <li class="px-16 py-4 menu-link">
      <a routerLink="/overview" routerLinkActive="active">
        <span class="material-symbols-outlined color-secondary-500 mr-10" style="font-size: 24px;">monitoring</span>
        @if (!isSidebarMinimized) {
          <span>Overview</span>
        }
      </a>
    </li>

    <li class="px-16 py-4 menu-link">
      <a routerLink="/users" routerLinkActive="active">
        <span class="material-symbols-outlined color-secondary-500 mr-10" style="font-size: 24px;">group</span>
        @if (!isSidebarMinimized) {
          <span>Users</span>
        }
      </a>
    </li>

    <li class="px-16 py-4 menu-link">
      <!-- <a routerLink="/revenue" routerLinkActive="active">
        <span class="material-symbols-outlined color-secondary-500 mr-10" style="font-size: 24px;">attach_money</span>
        @if (!isSidebarMinimized) {
          <span>Revenue</span>
        }
      </a> -->
      <a href="https://dashboard.stripe.com/acct_1SBKCyH9Cn6lMq8v/test/dashboard" target="_blank" rel="noopener noreferrer">
        <span class="material-symbols-outlined color-secondary-500 mr-10" style="font-size: 24px;">attach_money</span>
        @if (!isSidebarMinimized) {
          <span>Revenue</span>
        }
      </a>
    </li>
    }
  </ul>

  <!-- Sección inferior - siempre visible pero con contenido condicional -->
  <div class="bottom py-10">
    <div class="user mb-10">
      <span class="avatar">{{ onlyNameInitials() }}</span>
      @if (!isSidebarMinimized) {
        <span>{{ userName }}</span>
      }
    </div>
    @if (userName) {
    <a class="settings" style="font-weight: 500;" routerLink="/account">
      <span class="material-symbols-outlined" style="font-size: 24px;">settings</span>
      @if (!isSidebarMinimized) {
        <span>Account Settings</span>
      }
    </a>
    <a class="logout" (click)="logout()">
      <span class="material-symbols-outlined" style="font-size: 24px;">logout</span>
      @if (!isSidebarMinimized) {
        <span>Log out</span>
      }
    </a>
    }
  </div>
</nav>
}
