@if(userName && !isBanned) {
<nav class="sidebar bg-neutral regularText">
  <span class="icon-expand d-flex justify-end color-secondary-500 mb-12"></span>
  <div class="logo mb-44">
    <img src="assets/logo.png" alt="" />
  </div>
  @if (userToken && !isAdmin) {
  <p class="token-id p-20 regularText">
    your plugin token is <b>{{ userToken }}</b>
  </p>
  }
  <div class="sidebar-dashboard" (click)="toggleDashboard()">
    <span class="icon-home"></span>
    <span class="sidebar-title">Dashboard</span>
    <span class="icon-chevron" [class.open]="isDashboardOpen"></span>
  </div>
  <ul class="menu" [class.open]="isDashboardOpen">
    @if(!isAdmin) {
    <li class="px-16 py-10 menu-link">
      <a routerLink="/report" routerLinkActive="active">
        <span class="icon-report color-secondary-500 mr-10"></span> My Reports
      </a>
    </li>
    <li class="px-16 py-10 menu-link">
      <a routerLink="/strategy" routerLinkActive="active">
        <span class="icon-strategy color-secondary-500 mr-10"></span>My Strategy
      </a>
    </li>
    } @if (isAdmin){
    <li class="px-16 py-10 menu-link">
      <a routerLink="/overview" routerLinkActive="active">
        <span class="icon-overview color-secondary-500 mr-10"></span>Overview
      </a>
    </li>

    <li class="px-16 py-10 menu-link">
      <a routerLink="/users" routerLinkActive="active">
        <span class="icon-users color-secondary-500 mr-10"></span>Users
      </a>
    </li>

    <li class="px-16 py-10 menu-link">
      <a routerLink="/revenue" routerLinkActive="active">
        <span class="icon-revenue color-secondary-500 mr-10"></span>Revenue
      </a>
    </li>
    }
  </ul>

  <div class="bottom py-10">
    <div class="user mb-10">
      <span class="avatar">{{ onlyNameInitials() }}</span>
      <span>{{ userName }}</span>
    </div>
    @if (userName) {
    <a class="settings color-background" routerLink="/account">
      <span class="icon-config color-secondary-500 mr-10"></span>Account
      Settings</a
    >
    <a class="logout" (click)="logout()">
      <span class="icon-logout mr-10"></span> Log out</a
    >
    }
  </div>
</nav>
}
