.sidebar {
  width: 230px;
  min-width: 230px;
  max-width: 230px;
  height: 100vh;
  background: #191d23;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  transition: width 0.3s ease;

  &.minimized {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
  }
  
  // Ocultar en pantallas < md (768px)
  @media (max-width: 767px) {
    display: none !important;
  }

  .sidebar-toggle {
    width: 100%;
    padding: 1rem 1rem 0 1rem;
  }

  .sidebar-toggle .material-symbols-outlined {
    cursor: pointer;
  }

  .logo {
    width: 60%;
    margin: 0 auto 1.5rem auto;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .token-id {
    line-height: normal;
    text-align: center;
    padding: 0 1rem;
    margin-bottom: 1rem;
  }

  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1;
    width: 100%;

    li {
      width: 100%;
      
      a {
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        line-height: normal;
        padding: 0.7rem 1rem;
        width: 100%;
        transition: background 0.2s;
        font-size: 1.08rem;
        font-weight: 500;
        gap: 14px;
        
        &:hover {
          background: #283046;
          color: #5087e4;
        }
      }
    }
  }

  &.minimized {
    .sidebar-toggle {
      justify-content: center;
      padding: 1rem 0.5rem 0 0.5rem;
    }

    .logo-minimized {
      width: 80%;
      margin: 0 auto 0.5rem auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
    
    .menu {
      li {
        a {
          justify-content: center;
          padding: 0.7rem 0.5rem;
          
          span:first-child {
            margin-right: 0;
          }
        }
      }
    }
    
    .bottom {
      padding: 1rem 0.5rem;
      margin-top: auto;
      
      .user {
        justify-content: center;
        
        .avatar {
          margin-right: 0;
        }
      }
      
      .settings,
      .logout {
        justify-content: center;
        padding: 0.1rem 0.4rem;
        
        span:first-child {
          margin-right: 0;
        }
      }
    }
  }

  .bottom {
    width: 100%;
    border-top: 0.0625rem solid #454545;
    padding: 1rem;
    margin-top: auto;

    .user {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      .avatar {
        width: 2rem;
        height: 2rem;
        background: #283046;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.7rem;
        font-weight: bold;
      }
    }
    
    .settings,
    .logout {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      text-decoration: none;
      font-size: 1rem;
      font-weight: 500;
    }

    .settings {
      color: #9bf526;
    }

    .settings:hover {
      color: #7fa72a;
    }
    
    .logout {
      color: #e4515b;
    }

    .logout:hover {
      cursor: pointer;
      color: #973f45
    }
  }
}

.active,
.routerLinkActive {
  background: #24304e;
  color: #5087e4;
  border-left: 3px solid #5087e4;
}
