<div class="config-row d-flex flex-col py-12 justify-between">
  <div class="d-flex items-center">
    <label class="custom-checkbox m-6">
      <input
        type="checkbox"
        id="toggle-risk-reward"
        [checked]="config.isActive"
        (change)="onToggleActive($event)"
      />
      <span class="checkmark"></span>
    </label>

    <span
      [ngClass]="{ deactivated: !config.isActive }"
      class="rule-label"
    >
      {{ inputFirstRatioValue }}:{{ inputSecondRatioValue }} Risk Reward</span
    >
  </div>
  <div class="flex-row d-flex items-center">
    <span class="mr-50">Ratio: </span>
    <div
      class="risk-reward-container d-flex justify-between items-center flex-row"
    >
      <!-- Primer número fijo (1) -->
      <input
        type="number"
        min="1"
        id="first-ratio-input"
        [value]="inputFirstRatioValue"
        [disabled]="!config.isActive"
        readonly
        class="fixed-number-input"
      />
      <span>:</span>
      
      <!-- Segundo número con spinner -->
      <div class="spinner-container" [ngClass]="{ disabled: !config.isActive }">
        <button 
          type="button" 
          class="spinner-btn decrement"
          [disabled]="!config.isActive || inputSecondRatioValue <= 2"
          (click)="decrementSecondValue()"
        >
          −
        </button>
        <input
          type="number"
          min="2"
          id="second-ratio-input"
          [value]="inputSecondRatioValue"
          [disabled]="!config.isActive"
          readonly
          class="spinner-input"
        />
        <button 
          type="button" 
          class="spinner-btn increment"
          [disabled]="!config.isActive"
          (click)="incrementSecondValue()"
        >
          +
        </button>
      </div>
    </div>
  </div>
</div>
