.table-container {
  background: radial-gradient(
    ellipse 36% 42% at top center,
    rgba(81, 134, 228, 0.1) 0%,
    rgba(81, 134, 228, 0.01) 100%
  );
  border-radius: 16px;
  border: 0.5px solid #434343;
  max-height: 43rem;

  .table-scroll-container {
    max-height: 500px;
    overflow-y: auto;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #2e3440;
}

thead th {
  position: sticky;
  top: -2px;
  background-color: #151516;
  z-index: 10;
  border-bottom: 1px solid #444;
}

.table-scroll-container::-webkit-scrollbar {
  width: 8px;
}

.table-scroll-container::-webkit-scrollbar-thumb {
  background: #222b39;
  border-radius: 6px;
}

th,
td {
  padding: 14px;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #2e3440;
}

.status {
  border-radius: 4px;
  width: fit-content;
}

.green {
  background: rgba(0, 200, 83, 0.15);
  color: #4caf50;
}

.yellow {
  background: rgba(255, 149, 0, 0.15);
  color: #ffc16b;
}

.red {
  background: rgba(255, 59, 48, 0.15);
  color: #ff3b30;
}

.pagination-controls {
  button {
    background: transparent;
    color: #5186e4;
    border: none;
    cursor: pointer;
  }

  select {
    border-radius: 0.25rem;
    background: rgba(158, 196, 242, 0.1);
    border: none;
    padding: 7px;
    option {
      background: #181a1d;
      border: none;
    }

    :focus {
      outline: none;
    }
  }

  .side-controls {
    gap: 1.25rem;
  }

  .page-controls {
    gap: 1.625rem;
  }

  .page-input {
    border-radius: 6px;
    background: transparent;
    border-radius: 6px;
    border: 1px solid var(--White, #eaf2f8);
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.sort-Btn {
  border-radius: 0.375rem;
  background: rgba(158, 196, 242, 0.1);
  border: none;
  cursor: pointer;
}

