<div
  class="table-container color-background d-flex flex-col justify-between p-24"
>
  <div class="d-flex flex-col">
    <div class="d-flex justify-between items-center mb-24">
      <div class="table-titles">
        <h1 class="subtitle mb-6">Accounts</h1>
      </div>
      <div class="table-actions-container smallText d-flex items-center">
        <div class="search-user-container d-flex items-center p-10 mr-10">
          <label for="search-user" class="mr-10"
            ><span class="icon-search color-background"></span
          ></label>
          <input
            id="search-account"
            type="text"
            placeholder="Search account"
            [(ngModel)]="searchTerm"
            class="search-box color-background smallText"
          />
        </div>

        <button
          class="sort-Btn regularText color-secondary-300 p-10 mr-10"
          (click)="toggleSort()"
        >
          <span>{{ sortAsc ? "↑" : "↓" }}</span>
          Sort by: Last Update
        </button>

        <div class="filter-container">
          <button
            class="filter-btn color-secondary-300 smallText d-flex items-center p-10"
            (click)="openFilter()"
          >
            <span class="icon-filter color-secondary-300"></span> Filter
          </button>
          @if (showFilter) {
          <div class="filter-modal py-20 px-24 d-flex flex-col">
            <label class="mt-10">Balance:</label>
            <div
              class="percentage-input d-flex items-center justify-between p-10"
            >
              <input
                id="min-balance"
                type="number"
                [(ngModel)]="initialMinBalance"
                placeholder="Min Balance"
                class="search-box color-background smallText"
              />
              <label for="min-balance">min $</label>
            </div>

            <div
              class="percentage-input d-flex items-center justify-between p-10"
            >
              <input
                id="max-balance"
                type="number"
                [(ngModel)]="initialMaxBalance"
                placeholder="Max Balance"
                class="search-box color-background smallText"
              />
              <label for="max-balance">max $</label>
            </div>
            <button
              class="filter-btn p-10 bg-primary-400 color-bg-black inputText"
              (click)="apply()"
            >
              Apply
            </button>
          </div>
          }
        </div>
      </div>
    </div>
    <div class="table-scroll-container">
      <table class="regularText">
        <thead>
          <tr>
            <th class="regularText py-18">Account Name</th>
            <th class="regularText py-18">Broker</th>
            <th class="regularText py-18">Balance</th>
            <th class="regularText py-18">Profit calculation</th>
            <th class="regularText py-18">Last update</th>
            <th class="regularText py-18">Delete account</th>
            <th class="regularText py-18">Actions</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (account of paginatedAccounts; track $index) {
          <tr>
            <td class="smallText">
              <div class="d-flex items-center">
                <span class="icon-edit color-secondary-500 mr-12"></span>
                <p>
                  {{ account.accountName }}
                </p>
              </div>
            </td>
            <td class="smallText" style="width: 12.5rem">
              <p>
                {{ account.server }}
              </p>
            </td>

            <td class="smallText">
              <p>
                {{ account.balance | currency : "USD" : "symbol" }}
              </p>
            </td>
            <td class="smallText">
              <p>FIFO</p>
            </td>
            <td class="smallText">
              <p>
                {{ account.createdAt.toDate() | date : "medium" }}
              </p>
            </td>
            <td>
              <span
                (click)="deleteAccount(account)"
                class="icon-trash color-red"
                style="font-size: 1rem"
              ></span>
            </td>
            <td class="smallText">
              <span class="color-secondary-500" style="font-size: 1rem"
                >...</span
              >
            </td>
          </tr>

          }
        </tbody>
      </table>

      @if (accounts.length === 0) {
      <div
        class="add-account-container d-flex flex-col items-center justify-center"
      >
        <span
          class="icon-add-account color-primary-400"
          style="font-size: 7rem"
        ></span>
        <h2 class="color-background secondTitle">No trading accounts yet</h2>
        <p class="color-background regularText">
          Start by adding your first trading account to begin managing your
          strategy.
        </p>
        <button
          class="primary-btn color-neutral bg-primary-400 p-10 regularSemiText"
          (click)="navigateToAddAccount()"
        >
          Create Account
        </button>
      </div>
      }
    </div>
  </div>
  <div
    class="pagination-controls d-flex justify-between items-center mt-10 regularText"
  >
    <div class="page-controls d-flex justify-between items-center">
      <div class="side-controls d-flex items-center">
        <button
          class="regularText"
          (click)="prevPage()"
          [disabled]="currentPage === 1"
        >
          &lt;
        </button>
        <button
          class="regularText"
          (click)="goToPage(1)"
          [disabled]="currentPage === 1"
        >
          &lt;&lt;
        </button>
      </div>

      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <div class="side-controls d-flex items-center">
        <button
          class="regularText"
          (click)="goToPage(totalPages)"
          [disabled]="currentPage === totalPages"
        >
          &gt;&gt;
        </button>
        <button
          class="regularText"
          (click)="nextPage()"
          [disabled]="currentPage === totalPages"
        >
          &gt;
        </button>
      </div>
    </div>
    <div class="d-flex items-center">
      <div class="d-flex justify-between items-center mt-10">
        <label for="page-input" class="regularText mr-10 pb-2"
          >Go to page</label
        >
        <input
          id="page-input"
          class="page-input p-8 smallText color-background"
          type="number"
          [min]="1"
          [max]="totalPages"
          [(ngModel)]="currentPage"
          (change)="goToPage(currentPage)"
          style="width: 4rem"
        />
      </div>

      <select
        class="color-secondary-300 smallText mt-10 ml-20"
        [(ngModel)]="itemsPerPage"
        (change)="goToPage(1)"
      >
        <option [value]="5">5 items</option>
        <option [value]="10">10 items</option>
        <option [value]="25">25 items</option>
      </select>
    </div>
  </div>
</div>

@if(showConfirmation){
<app-show-confirmation
  [account]="accountToDelete"
  (confirm)="confirmDelete()"
  (cancel)="cancelDelete()"
  message="Are you sure you want to delete this account?"
></app-show-confirmation>
}
