<div
  class="table-container color-background d-flex flex-col justify-between p-24"
>
  <div class="d-flex flex-col">
    <div class="d-flex justify-between items-center mb-24">
      <div class="table-titles">
        <h1 class="subtitle mb-6">Accounts</h1>
      </div>
      <div class="table-actions-container smallText d-flex items-center">
        <div class="search-user-container d-flex items-center p-10 mr-10">
          <label for="search-user" class="mr-10"
            ><span class="material-symbols-outlined color-background" style="font-size: 18px">search</span
          ></label>
          <input
            id="search-account"
            type="text"
            placeholder="Search account"
            [(ngModel)]="searchTerm"
            class="search-box color-background smallText"
          />
        </div>

        <button
          class="sort-Btn regularText color-secondary-300 p-10 mr-10"
          (click)="toggleSort()"
        >
          <span class="material-symbols-outlined" style="font-size: 18px">swap_vert</span>
          Sort by: Last Update
        </button>

        <div class="filter-container">
          <button
            class="filter-btn color-secondary-300 smallText d-flex items-center p-10"
            (click)="openFilter()"
          >
            <span class="material-symbols-outlined color-secondary-300" style="font-size: 18px">filter_alt</span> Filter
          </button>
          @if (showFilter) {
          <div class="filter-modal py-20 px-24 d-flex flex-col">
            <label class="mt-10">Balance:</label>
            <div
              class="percentage-input d-flex items-center justify-between p-10"
            >
              <input
                id="min-balance"
                type="number"
                [(ngModel)]="initialMinBalance"
                placeholder="Min Balance"
                class="search-box color-background smallText"
              />
              <label for="min-balance">min $</label>
            </div>

            <div
              class="percentage-input d-flex items-center justify-between p-10"
            >
              <input
                id="max-balance"
                type="number"
                [(ngModel)]="initialMaxBalance"
                placeholder="Max Balance"
                class="search-box color-background smallText"
              />
              <label for="max-balance">max $</label>
            </div>
            <button
              class="filter-btn p-10 bg-primary-400 color-bg-black inputText"
              (click)="apply()"
            >
              Apply
            </button>
          </div>
          }
        </div>

      </div>
    </div>
    <div class="table-scroll-container">
      <table class="regularText">
        <thead>
          <tr>
            <th class="regularText py-18">
              <div class="d-flex items-center gap-8">
                <span class="icon-check-box"></span>
                <span>Account Name</span>
              </div>
            </th>
            <th class="regularText py-18">Broker</th>
            <th class="regularText py-18">Server</th>
            <th class="regularText py-18">Balance</th>
            <th class="regularText py-18">Profit calculation</th>
            <th class="regularText py-18">Last update</th>
            <th class="regularText py-18">File upload</th>
            <th class="regularText py-18">Clear trades</th>
            <th class="regularText py-18">Delete account</th>
            <th class="regularText py-18">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (account of paginatedAccounts; track $index) {
          <tr>
            <td class="smallText">
              <div class="d-flex items-center">
                <input type="checkbox" class="account-checkbox" />
                <span class="icon-edit color-secondary-500 mr-12" style="font-size: 1rem" title="Edit account name"></span>
                <p>
                  {{ account.accountName }}
                </p>
              </div>
            </td>
            <td class="smallText">
              <div class="d-flex items-center gap-8">
                <p>{{ account.broker }}</p>
                <span class="material-symbols-outlined color-secondary-500" style="font-size: 24px" title="Broker options">keyboard_arrow_down</span>
              </div>
            </td>
            <td class="smallText">
              <div class="d-flex items-center gap-8">
                <div class="broker-icon">
                  <span class="broker-letter">T</span>
                </div>
                <p>{{ account.server }}</p>
                <span class="material-symbols-outlined color-secondary-500" style="font-size: 24px" title="Broker options">keyboard_arrow_down</span>
              </div>
            </td>
            <td class="smallText">
              <p>
                {{ account.balance | currency : "USD" : "symbol" }}
              </p>
            </td>
            <td class="smallText">
              <p>FIFO</p>
            </td>
            <td class="smallText">
              <p>
                {{ account.createdAt.toDate() | date : "MM/dd/yyyy h:mm a" }}
              </p>
            </td>
            <td class="smallText">
              <span class="material-symbols-outlined color-secondary-500" title="Upload" style="font-size: 24px">upload</span>
            </td>
            <td class="smallText">
              <span class="material-symbols-outlined color-red" title="Clear trades" style="font-size: 24px">cancel</span>
            </td>
            <td class="smallText">
              <span
                (click)="deleteAccount(account)"
                class="material-symbols-outlined color-red"
                style="font-size: 24px"
                title="Delete account"
              >delete</span>
            </td>
            <td class="smallText">
              <span class="material-symbols-outlined color-secondary-500" style="font-size: 24px" title="More options">more_horiz</span>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  <div
    class="pagination-controls d-flex justify-between items-center mt-10 regularText"
  >
    <div class="page-controls d-flex justify-between items-center">
      <div class="side-controls d-flex items-center">
        <button
          class="regularText"
          (click)="prevPage()"
          [disabled]="currentPage === 1"
        >
          &lt;
        </button>
        <button
          class="regularText"
          (click)="goToPage(1)"
          [disabled]="currentPage === 1"
        >
          &lt;&lt;
        </button>
      </div>

      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <div class="side-controls d-flex items-center">
        <button
          class="regularText"
          (click)="goToPage(totalPages)"
          [disabled]="currentPage === totalPages"
        >
          &gt;&gt;
        </button>
        <button
          class="regularText"
          (click)="nextPage()"
          [disabled]="currentPage === totalPages"
        >
          &gt;
        </button>
      </div>
    </div>
    <div class="d-flex items-center">
      <div class="d-flex justify-between items-center mt-10">
        <label for="page-input" class="regularText mr-10 pb-2"
          >Go to page</label
        >
        <input
          id="page-input"
          class="page-input p-8 smallText color-background"
          type="number"
          [min]="1"
          [max]="totalPages"
          [(ngModel)]="currentPage"
          (change)="goToPage(currentPage)"
          style="width: 4rem"
        />
      </div>

      <select
        class="color-secondary-300 smallText mt-10 ml-20"
        [(ngModel)]="itemsPerPage"
        (change)="goToPage(1)"
      >
        <option [value]="5">5 items</option>
        <option [value]="10">10 items</option>
        <option [value]="25">25 items</option>
      </select>
    </div>
  </div>
</div>

@if(showConfirmation){
<app-show-confirmation
  [account]="accountToDelete"
  (confirm)="confirmDelete()"
  (cancel)="cancelDelete()"
  message="Are you sure you want to delete this account?"
></app-show-confirmation>
}
