<div class="config-row d-flex flex-col py-12 justify-between">
  <!-- Mensaje de error de validación -->
  <div *ngIf="!isValid && config.isActive" class="validation-error mb-3">
    <span class="error-message">{{ errorMessage }}</span>
  </div>
  
  <div class="d-flex justify-between mb-4">
    <div class="d-flex items-center">
      <label class="custom-checkbox m-6">
        <input
          type="checkbox"
          id="toggle-hours-allowed"
          [checked]="config.isActive"
          (change)="onToggleActive($event)"
        />
        <span class="checkmark"></span>
      </label>

      <span
        [ngClass]="{ deactivated: !config.isActive }"
        class="rule-label"
        >Only allow trades between:</span
      >
    </div>
    <div class="timezone-select-container">
      <select
        id="timezone"
        [ngModel]="config.timezone || ''"
        [disabled]="!config.isActive"
        (ngModelChange)="onTimezoneChange($event)"
        class="timezone-select inputText color-light-gray"
        [class.placeholder-active]="!config.timezone"
      >
        <option value="" disabled hidden></option>
        @for (tz of timezones; track $index) {
        <option [value]="tz.value">
          {{ getTimezoneWithCountry(tz.value) }}
        </option>
        }
      </select>
      <span 
        *ngIf="!config.timezone" 
        class="timezone-placeholder"
        [class.disabled]="!config.isActive"
      >
        {{ timezonePlaceholder }}
      </span>
    </div>
  </div>

  <div class="d-flex">
    <div class="time-input-row d-flex flex-row">
      <input
        [ngxTimepicker]="picker1"
        [format]="12"
        [disabled]="!config.isActive"
        [ngModel]="config.tradingOpenTime"
        (ngModelChange)="onTimeChange('tradingOpenTime', $event)"
        [placeholder]="config.isActive ? 'Select start time' : 'Enter a date'"
        class="inputText time-input color-light-gray"
        id="openTradingTime"
      />
      <ngx-material-timepicker #picker1></ngx-material-timepicker>
    </div>

    <div class="time-input-row color-light-gray">
      <input
        [ngxTimepicker]="pickerClose"
        [format]="12"
        [disabled]="!config.isActive"
        [ngModel]="config.tradingCloseTime"
        (ngModelChange)="onTimeChange('tradingCloseTime', $event)"
        [placeholder]="config.isActive ? 'Select end time' : 'Enter a date'"
        class="timepicker-input inputText time-input color-light-gray"
        id="closeTradingTime"
      />
      <ngx-material-timepicker #pickerClose></ngx-material-timepicker>
    </div>
  </div>
</div>
