<div class="config-row d-flex flex-col py-12 justify-between">
  <!-- Mensaje de error de validación -->
  @if (!isValid && config.isActive) {
  <div class="validation-error mb-3">
    <span class="error-message">{{ errorMessage }}</span>
  </div>
  }
  
  <div class="d-flex items-center mb-12">
    <label class="custom-checkbox m-6">
      <input
        type="checkbox"
        id="toggle-days-allowed"
        [checked]="config.isActive"
        (change)="onToggleActive($event)"
      />
      <span class="checkmark"></span>
    </label>

    <span
      [ngClass]="{ deactivated: !config.isActive }"
      class="rule-label"
      >Only allow trades on</span
    >
  </div>
  <div class="days-container d-flex items-start">
    @for (dayOption of daysButtons; track $index) {
    <button
      class="inputText"
      [ngClass]="{ btnActive: dayOption.isActive }"
      [disabled]="!config.isActive"
      (click)="onChangeValue(dayOption)"
    >
      {{ dayOption.day.substring(0, 3) }}
    </button>
    }
  </div>
</div>
