.config-row {
  border-bottom: 0.5px solid
    var(
      --miscellaneous-alert-menu-action-sheet-separators,
      rgba(128, 128, 128, 0.55)
    );
}

.risk-per-trade-container {
  width: 100%;
}

#risk-price-input::-webkit-inner-spin-button,
#risk-price-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ❌ Hide arrows in Firefox */
#risk-price-input[type="number"] {
  -moz-appearance: textfield;
}

#risk-percentage-input {
  width: 4.625rem;
  border-radius: 0.375rem 0 0 0.375rem;
}

#risk-price-input {
  width: 100%;
  border-radius: 0;
  border-top: 1px solid #8e8e93;
  border-bottom: 1px solid #8e8e93;
  border-left: 0;
  border-right: 0;
}
